@import url('https://fonts.cdnfonts.com/css/mont');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-black font-semibold bg-gray-50;
  }
}